:root {
    scroll-behavior: smooth;
    --primary-theme-color: #20232afb;
    --secondary-theme-color: #282c34bf;
    --primary-text-color: #fff;
    --primary-highlight-color: #61dafb;
    --secondary-highlight-color: gold;
}

.body {
    background-color: var(--primary-theme-color);
    color: var(--primary-text-color);
    font-family: monospace;
    margin: 0;
}

.hero {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-image: url(https://i.postimg.cc/1RgCj27g/fondo-web-azul2-01.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;

}

.container {
    box-shadow: 0 0 0.125rem 0.125rem var(--primary-highlight-color);
    max-width: 320px;
    padding: 0 1rem;
    box-sizing: border-box;
    
}

.foto {
    margin: 2rem 0 1.625rem 0;
}

.menu {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    list-style: none;
    
}
