* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "baloo 2", cursive;
}

.body {
    /* background-color: #fff;
    color: black;
    margin: 0; */

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #efefef;
    flex-wrap: wrap;
}

.card {
    /* display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    min-height: 100vh; */
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    margin: 15px 20px;

}

.card:hover {
    box-shadow: 0 5px 15px rgba(3, 89, 92, .5);
    transform: translateY(-15px);
}

.card .head {
    /* box-shadow: 0 0 0.125rem 0.125rem var(--primary-highlight-color);
    max-width: 320px;
    text-align: center; */
    height: 125px;
    width: 100%;
    position: relative
}

.card .head .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #0b6f72;
    bottom: 0;
}

.card .head .img {
    /* margin: 2rem 0 1.625rem 0; */
    width: 150px;
    height: 150px;
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);

}

.card .head .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card .description {
    height: 200px;
    padding: 40px 20px 20px 20px;
    border-bottom: solid 1px rgba(6, 74, 76, 18);
    text-align: center;
    background-color: var(--secondary-theme-color);
    
}


.card .description h3 {
    color: #05383a;
}
.card .description h4 {
    color: #1c5a5c;
}
.card .description p {
    margin-top: 20px;
    font-size: 15px;
}

.card .contact {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .contact a {
    text-decoration: none;
    clear: #fff;
    background: #157579;
    padding: 5px 20px;
    border-radius: 5px;
    transform: .3s;
    
    

}
.card .contact a:hover {
  
    background: #0b6164;
   
}